@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form  id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="on" aria-required="true" placeholder="Your FirstName" required />
                        <label asp-for="Input.FirstName">First Name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.MiddleName" class="form-control" autocomplete="on" aria-required="true" placeholder="Your MiddleName" />
                        <label asp-for="Input.MiddleName">MiddleName</label>
                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Your LastName" required />
                        <label asp-for="Input.LastName">Last Name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div row>
                <div class="dol-md-4">

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="on" aria-required="true" placeholder="Your Email" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="dol-md-4">
                    <div class="mb-3">
                        <select asp-for="Input.Gender" class="form-control">
                            <option selected disabled> -Gender- </option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>

                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="dol-md-4">

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Address" class="form-control" autocomplete="on" aria-required="true" placeholder="Your Address" required />
                        <label asp-for="Input.Address">Address</label>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <select asp-for="Input.UserRoleId" class="form-control">
                        <option value="">Select Role</option>
                        <option value="USER">User</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                    <label asp-for="Input.UserRoleId">Role</label>
                    <span asp-validation-for="Input.UserRoleId" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-12">

                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                        </div>

                    </div>

                </div>

            </div>

        </form>

    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}